<h1>Listing vehicle_auto_auctions</h1>

<table>
  <thead>
    <tr>
      <th>Auction</th>
      <th>Vehicle</th>
      <th>Winning bid</th>
      <th>Seller payout</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_auto_auctions.each do |vehicle_auto_auction| %>
      <tr>
        <td><%= vehicle_auto_auction.auction_id %></td>
        <td><%= vehicle_auto_auction.vehicle_id %></td>
        <td><%= vehicle_auto_auction.winning_bid %></td>
        <td><%= vehicle_auto_auction.seller_payout %></td>
        <td><%= vehicle_auto_auction.description %></td>
         
        <td><%= link_to 'Show', vehicle_auto_auction %></td>
        <td><%= link_to 'Edit', edit_vehicle_auto_auction_path(vehicle_auto_auction) %></td>
        <td><%= link_to 'Destroy', vehicle_auto_auction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    
    <p>"Total Auction Profit: $<%= @vehicle_auto_auctions.total_profit  %>.00"</p>
    <p>"Average Auction Profit: $<%= @vehicle_auto_auctions.average_profit  %>.00"</p>
    <p>"Total Vehicles Sold: <%= @vehicle_auto_auctions.number_sold  %>"</p>

  </tbody>
</table>

<br>

<h2>Importing Products</h2>
<%= form_tag import_csv_parser_index_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<%= link_to 'New Vehicle auto auction', new_vehicle_auto_auction_path %>
